{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 text-center">Créer un compte</h1>

    <div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'class': 'space-y-4'}}) }}
            {{ form_row(registrationForm.email, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}
            }) }}
            {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}

            <button type="submit" class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Créer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}