{% extends 'base.html.twig' %}

{% block title %}Music{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <h1 class="text-4xl mb-4">Music</h1>

        <table class="table-auto w-full mb-4">
            <thead>
                <tr class="bg-[#F0C033] text-white">
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Title</th>
                    <th class="px-4 py-2">Duration</th>
                    <th class="px-4 py-2">Album</th>
                </tr>
            </thead>
            <tbody>
            {% for music in music %}
                <tr class="text-center">
                    <td class="border px-4 py-2">{{ music.id }}</td>
                    <td class="border px-4 py-2">{{ music.title }}</td>
                    <td class="border px-4 py-2">{{ music.getDurationString() }}</td>
                    <td class="border px-4 py-2">{{ music.album.title }}</td>
                </tr>
                <td class="border px-4 py-2">
                    <a href="{{ path('app_music_show', {'id': music.id}) }}" class="text-[#F0C033] hover:text-green-800">show</a>
                    <a href="{{ path('app_music_edit', {'id': music.id}) }}" class="text-[#F0C033] hover:text-green-800">edit</a>
                </td>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center py-4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_music_new') }}" class="bg-[#F0C033] hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Create new</a>
    </div>
{% endblock %}