{% extends 'base.html.twig' %}

{% block title %}Nouvel Musique{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 text-center">Nouvel musique</h1>

    <div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
            {{ form_row(form.title, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            {{ form_row(form.duration, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            {{ form_row(form.album, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            {{ form_row(form.featuring, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            <button type="submit" class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Crée</button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_music_index') }}" class="text-[#F0C033] hover:text-yellow-800">Retour a la liste</a>
{% endblock %}