{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
    <div class="container mx-auto px-4" >
        <h1 class="text-4xl mb-4" >Résultats de recherche pour "{{ query }}"</h1 >

        {% if music_results|length == 0 and album_results|length == 0 and artist_results|length == 0 %}
            <p >Aucun résultat trouvé pour "{{ query }}".</p >
        {% else %}

            {% if music_results|length > 0 %}
                <h2 class="text-xl font-semibold mb-2" >Musiques</h2 >
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" >
                    {% for music in music_results %}
                        <a href="{{ path('app_music_show', {id: music.id}) }}" class="bg-white shadow overflow-hidden sm:rounded-lg mb-4 block" >
                            <div class="px-4 py-5 sm:px-6" >
                                <h2 class="text-lg leading-6 font-medium text-gray-900" >
                                    {{ music.title }}
                                </h2 >
                                <p class="text-sm text-gray-500" >{{ music.getDurationString() }}</p >
                                <p class="text-sm text-gray-500" >{{ music.album }}</p >
                            </div >
                        </a>
                    {% endfor %}
                </div >
            {% endif %}

            {% if album_results|length > 0 %}
                <h2 class="text-xl font-semibold mb-2 mt-4" >Albums</h2 >
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" >
                    {% for album in album_results %}
                        <a href="{{ path('app_album_show', {id: album.id}) }}" class="bg-white shadow overflow-hidden sm:rounded-lg mb-4 block" >
                            <div class="px-4 py-5 sm:px-6" >
                                <h2 class="text-lg leading-6 font-medium text-gray-900" >
                                    {{ album.title }}
                                </h2 >
                                <img class="w-60 h-60" src="{{ album.thumbnail }}" alt="{{ album.title }}" >
                                <p class="text-sm text-gray-500" >Date de sortie
                                                                  : {{ album.releasedate ? album.releasedate|date('d/m/Y') : '' }}</p >
                                <p class="text-sm text-gray-500" >{{ album.typeName }}</p >
                            </div >
                        </a>
                    {% endfor %}
                </div >
            {% endif %}

            {% if artist_results|length > 0 %}
                <h2 class="text-xl font-semibold mb-2 mt-4" >Artistes</h2 >
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4" >
                    {% for artist in artist_results %}
                        <a href="{{ path('app_artist_show', {id: artist.id}) }}" class="bg-white shadow overflow-hidden sm:rounded-lg mb-4 block" >
                            <div class="px-4 py-5 sm:px-6" >
                                <h2 class="text-lg leading-6 font-medium text-gray-900" >
                                    {{ artist.name }}
                                </h2 >
                                <img class="w-60 h-60" src="{{ artist.thumbnail }}" alt="{{ artist.name }}" >
                            </div >
                        </a>
                    {% endfor %}
                </div >
            {% endif %}
        {% endif %}
    </div >
{% endblock %}