{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div class="mb-4 text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="text-2xl font-bold mb-4 text-center">Se connecter</h1>

    <div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
            {{ form_row(form.email, {value: last_username, 'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            {{ form_row(form.password, {'attr': {'class': 'border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm px-4 py-2'}}) }}
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Se connecter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}