{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 m-10">
        <table class="table-auto w-full mb-4">
            <thead>
                <tr class="bg-[#F0C033] text-white">
                    <th class="px-4 py-2">Id</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Thumbnail</th>
                    <th class="px-4 py-2">Biography</th>
                    <th class="px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for artist in artists %}
                <tr class="text-center">
                    <td class="border px-4 py-2">{{ artist.id }}</td>
                    <td class="border px-4 py-2">{{ artist.name }}</td>
                    <td class="border px-4 py-2">
                        <img src="{{ artist.thumbnail }}" alt="{{ artist.name }}">
                    </td>
                    <td class="border px-4 py-2">{{ artist.biography }}</td>
                    <td class="border px-4 py-2">
                        <div class="flex flex-col space-y-1 ">
                            <a href="{{ path('app_artist_show', {'id': artist.id}) }}" class="text-[#F0C033] hover:text-green-800 border-2 border-current rounded-md p-1">Plus</a>
                            <a href="{{ path('app_artist_edit', {'id': artist.id}) }}" class="text-[#F0C033] hover:text-green-800 border-2 border-current rounded-md p-1">Modifier</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center py-4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_artist_new') }}" class="bg-[#F0C033] hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Create new</a>
    </div>
{% endblock %}