{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <h1 class="text-4xl mb-4">Artist</h1>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
            <div class="px-4 py-5 sm:px-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">{{ artist.name }}</h2>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ artist.biography }}</p>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 ">
                            <img src="{{ artist.thumbnail }}" alt="{{ artist.name }}">
                        </dd>
                    </div>
                </dl>
            </div>
            <h2 class="text-2xl my-4">Albums</h2>
            <div class="flex flex-wrap bg-white shadow overflow-hidden sm:rounded-lg mb-8 mr-4">
                {% for album in albums %}
                    <div class="">
                        <div class="px-4 py-5 sm:px-6 border-r">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">{{ album.title }}</h3>
                        </div>
                        <div class="border-y border-r border-gray-200">
                            <dl>
                                <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        <img class="w-52 h-52" src="{{ album.thumbnail }}" alt="{{ album.title }}">
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h3 class="text-2xl my-4">Musics</h3>
            {% for album in albums %}
                {% for music in album.music %}
                    <div class="px-4 py-5 sm:px-6 flex justify-between {% if loop.index is odd %}bg-gray-100{% endif %}">
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 font-bold text-lg">{{ music.title }}</dd>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ music.durationString }}</dd>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <a href="{{ path('app_artist_index') }}"
           class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Retour a la liste </a>
        <a href="{{ path('app_artist_edit', {'id': artist.id}) }}"
           class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Modifier</a>
        {{ include('artist/_delete_form.html.twig') }}
    </div>
{% endblock %}