{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 mt-4">
        <div class="flex justify-content items-start">
            <img class="w-14 h-14 rounded-full mb-4 mt-2" src="{{ artist.thumbnail }}" alt="{{ album.title }}">
            <p class="font-bold text-lg px-2 m-2">{{ artist.name }}</p>
        </div>
        <h1 class="text-4xl mb-4">Album</h1>

        <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-4">
            <div class="px-4 py-5 sm:px-6">
                <h2 class="text-lg leading-6 font-medium text-gray-900">{{ album.title }}</h2>
            </div>
            <div class="border-t border-gray-200">
                <dl>
                    <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Miniature</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 w-80 h-80">
                            <img src="{{ album.thumbnail }}" alt="{{ album.title }}">
                        </dd>
                    </div>
                    <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Date de sortie</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ album.releasedate ? album.releasedate|date('d/m/Y') : '' }}
                        </dd>
                    </div>
                    <div class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">Type</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ album.typeName }}
                        </dd>
                    </div>
                </dl>
            </div>
            <h2 class="text-2xl my-4">Musique</h2>
            {% for music in album.music %}
                <div class="px-4 py-5 sm:px-6 flex justify-between {% if loop.index is odd %}bg-gray-100{% endif %}">
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 font-bold text-lg">{{ music.title }}</dd>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ music.getDurationString() }}</dd>
                </div>
            {% else %}
                <div class="text-center py-4">Pas de musique trouvé pour cet album</div>
            {% endfor %}
        </div>

        <a href="{{ path('app_album_index') }}" class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Retour a la liste</a>
        <a href="{{ path('app_album_edit', {'id': album.id}) }}" class="bg-[#F0C033] hover:bg-[#D8A948] text-white font-bold py-2 px-4 rounded">Modifier</a>

        {{ include('Album/_delete_form.html.twig') }}
    </div>
{% endblock %}